/* Contains all the features */

.features_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.back {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.back span:hover {
  border: 1px solid rgb(216, 72, 94);
  background-color: rgb(216, 72, 94);
}

.feature_container {
  display: flex;
  width: 100%;
}

/* Single Feature */
.link {
  text-decoration: none !important;
  color: unset !important;
  width: 100%;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  /* background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1); */
  cursor: pointer;
}

.feature_heading {
  /* margin-top: 50px; */
  position: relative;
  /* padding: 5px; */
  text-decoration: none;

  font-family: Anurati;
  font-size: 40px;
  letter-spacing: 5px;
  line-height: 70px;
  text-align: center;
}

.feature_heading:hover {
  color: rgb(216, 72, 94);
}

/* .feature_heading::before {
  background: #000000;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.feature:hover .feature_heading::before {
  transform: scaleX(1);
  transform-origin: left;
}

.feature_img {
  height: 200px;
  width: 200px;
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s ease-in-out;
}

.feature:hover .feature_img {
  transform: scale3d(1.1, 1.1, 1);
} */

@media screen and (max-width: 1075px) {
  .feature_container {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .features_container {
    flex-direction: column;
  }

  .feature_heading {
    font-size: 30px;
  }
}
